$baseFontSize: 16;
$rowWidth: 75.25rem;
$columns: 12;
$columnSpace: 1rem; //16
$whiteColor: white;
$blackColor: black;
$redColor: #D73216;
$easing: cubic-bezier(0.5, 0.7, 0.4, 1);

/*screenSises*/

$xxxLarge: 120rem; //1920
$xxLarge: 100rem; //1600
$xLarge: 90rem; //1440
$large: 85.375rem; //1366
$small: 80rem; //1280
$tablet: 64rem; //1024
$xSmall: 48rem; //768
$mobile: 47.9375rem; //767

$Mont: "Mont";
$OpenSans: "OpenSans";
$Lato: "Lato";
$screenSpace: 4%;
